h1 {
  color: #0090ff;
}

label {
  width: 7em;
  display: inline-block;
}

button {
  width: 80px;
}

.row {
  margin: 3px;
}

#call-to {
  width: 76px;
}

.margin-list {
  margin-top: 15px;
}

.stream-video {
  width: 320px;
  height: 240px;
  border: 1px solid gray;
}

.row-title {
  display: inline-block;
  width: 320px;
}